{% extends "general/_base.html" -%}
{% block content_class -%}
container d-flex h-100 align-items-center
{% endblock -%}
{% block content -%}
<div class="jumbotron bg-transparent">
  <p class="display-4 text-highlight">About</p>
  <hr class="my-4">
  <div class="lead my-4">
  <p>
    Ki ist als Projekt aufbauend auf einem beim <a href="https://www.naturfreundejugend.de/termine/-/-/show/4517/coding_utopia_der_umwelt_hackathon/" class="text-muted">Utopia 2020 Hackathon</a> entstehenden Protoypen zum <a href="https://github.com/MauriceHeinze/roofseed" class="text-muted">roofseed Projekt</a> entstanden und wird zurzeit von <a class="text-muted" href="https://sinclair.gq">Cobalt</a> unabhängig entwickelt. Jeder Ihnalt verbunden mit Ki, welcher nicht von Cobalt erstellt wurde, wie Bilder, ist Eigentum seiner respektiven Eigentümer. Der Code/ HTML ... ist unter der <a href="https://github.com/Chaostheorie/Ki/blob/master/LICENSE" class="text-muted">LGPL v3.0 Lizenz</a> verfügbar. Einen großen dank an Burkhard für seine Hilfe mit der Karte.
  </p>
  </div>
</div>
{% endblock -%}
