{% extends "general/_base.html" -%}
{% block content_class -%}
container d-flex h-100 align-items-center
{% endblock -%}
{% block content -%}
<div class="jumbotron bg-transparent">
  <p class="display-4 text-highlight">Baumbeet</p>
  <hr class="my-4">
  <div class="lead my-4">
  <p>
    Ein Baumbeet (sog. Baumscheibe) ist die Erde um die Wurzeln eines Baumes herum.
    <br>
    Wenn du dir unsicher bist wie du es bepflanzen kannst, empfehlen wir die den <a class="text-highlight text-muted" href="https://magazin.nebenan.de/artikel/baumbeet-anlegen-baumscheibe-bepflanzen"> Artikel von nebean.de</a>
  </p>
  </div>
</div>
{% endblock -%}
