{% extends "general/_base.html" -%}
{% block advanced_head -%}
<!-- Extra CSS and JS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="">
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>
<link rel="stylesheet" src="/static/css/MarkerCluster.css" type="text/css">
<link rel="stylesheet" src="/static/css/MarkerCluster.Default.css" type="text/css">
<script src="/static/js/leaflet.markercluster-src.js"></script>
{% endblock advanced_head -%}
{% block javascript -%}
<script>
  // Map Code
</script>
{% endblock javascript -%}
{% block content -%}
Theres gonna be a map
{% endblock content -%}
