body {
    font-family: 'Caveat', cursive;
    font-size: 18pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Zhi Mang Xing', cursive;
    font-weight: 600;
}

hr {
    color: LightGray;
}

.text-content {
    font-family: 'Caveat', cursive;
}

.text-highlight {
    font-family: 'Zhi Mang Xing', cursive;
}

.map {
    border: 1px solid LightGray;
    min-height: 300px;
}

.bg-nav {
    background-color: WhiteSmoke;
}

.vh-100 {
    height: 90vh !important;
}